node_modules/
.env
.env.*
!.env.example
npm-debug.log*
package-lock.json
package-lock.json.*
/src/dashboard/node_modules
/src/dashboard/package-lock.json
/src/dashboard/package-lock.json.*
/src/dashboard/.next
