# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# npm logs
npm-debug.log*

# Lock files
package-lock.json*

# Next.js
/Dashboard/.next/

# Bot build output
/Bot/dist/

# Dashboard build output
/Dashboard/.next/
.aider*
